h1{
    color:aqua;
    background-color: darkmagenta;
    padding-left:600px;
    padding-top:30px;
    padding-bottom: 30px;
}

ul{
    font-size: 20px;
}
.hika{
    color:yellow;
}

.bleach{
    color:black;
}

.hunter{
    color:darkgreen;
}
